In [0]:
%sql
SELECT * FROM adb_cliente_savana_prd.elenir_silver.transacoes_enriquecidas LIMIT 10;

In [0]:
%sql
CREATE OR REPLACE TABLE adb_cliente_savana_prd.elenir_gold.qtd_transacoes_mes_usuario AS
SELECT 
    ID_Cliente,
    Ano,
    Mes,
    COUNT(ID_Transacao) AS Qtd_Transacoes
FROM adb_cliente_savana_prd.elenir_silver.transacoes_enriquecidas
GROUP BY 
    ID_Cliente,
    Ano,
    Mes;

In [0]:
%sql
SELECT * 
FROM adb_cliente_savana_prd.elenir_gold.qtd_transacoes_mes_usuario
LIMIT 5;

In [0]:
%sql
CREATE OR REPLACE TABLE adb_cliente_savana_prd.elenir_gold.valor_total_mes_usuario AS
SELECT 
    ID_Cliente,
    Ano,
    Mes,
    SUM(Valor) AS Valor_Total_Transacoes
FROM adb_cliente_savana_prd.elenir_silver.transacoes_enriquecidas
GROUP BY 
    ID_Cliente,
    Ano,
    Mes;

In [0]:
%sql
SELECT * 
FROM adb_cliente_savana_prd.elenir_gold.valor_total_mes_usuario
LIMIT 5;

In [0]:
%sql
CREATE OR REPLACE TABLE adb_cliente_savana_prd.elenir_gold.volume_transacoes_cidade AS
SELECT 
    Cidade,
    COUNT(ID_Transacao) AS Qtd_Transacoes,
    SUM(Valor) AS Valor_Total_Transacoes
FROM adb_cliente_savana_prd.elenir_silver.transacoes_enriquecidas
GROUP BY 
    Cidade;

In [0]:
%sql
SELECT * 
FROM adb_cliente_savana_prd.elenir_gold.volume_transacoes_cidade
LIMIT 5;

In [0]:
%sql
CREATE OR REPLACE TABLE adb_cliente_savana_prd.elenir_gold.ultima_transacao_cliente AS
SELECT 
    ID_Cliente,
    MAX(DataCriacao) AS Data_Ultima_Transacao
FROM adb_cliente_savana_prd.elenir_silver.transacoes_enriquecidas
GROUP BY 
    ID_Cliente;

In [0]:
%sql
SELECT * 
FROM adb_cliente_savana_prd.elenir_gold.ultima_transacao_cliente
LIMIT 5;